.DS_Store
.env
.context/*
ref/*
node_modules
dist/*

# Playwright
test-results/
tests/generated/*
!tests/generated/.gitkeep
playwright-report/

# Test Reports
tests/reports/results/*
!tests/reports/results/.gitkeep
tests/reports/html/*
!tests/reports/html/.gitkeep
tests/reports/bdd/*
!tests/reports/bdd/.gitkeep
